<!--<div class='notPanel'>
    <div class='alsoNotPanel'>

          <ul class="tabrow">
                
                <li class="" (click)="gotoHome()" >Home</li>
                <li class="selected" >Create Team</li>
                  <li class="" (click)="gotoResults()" >Results</li>
                  <li class="" (click)="gotoLeaderboard()" >Leaderboard</li>
                  
          </ul>


    </div>
</div>

 <div class='mainDiv' id="background">
 
 <div class='leftPanel'>
         <player-app></player-app>
 </div>

  <div class='rightPanel'>
        <div class='nothing'>
            <div id='rowspace' class='row'></div>
        <nfl-squad></nfl-squad>
        </div> 
    </div> 
      <br style="clear:both;"/>
</div> 
-->

