     
<!--<modal-confirm></modal-confirm> -->
<div class="fakeBody" onload='makeTableScroll();'>

<div class='filters' > 
    <table id='filterTable' class='tableNoBorders' >
                <thead id="topFilters">

                    <tr id="topRow">
                        <th>
                        <input class='form-control' type='text' [(ngModel)]='nameFilter' placeholder='Name'/>
                        </th>
                        <th><select class='form-control' name ="position" form = "positionForm" [(ngModel)]='positionFilter' placeholder="Position" default = "">
                    <option value="" disabled selected>Position</option>
                    <option value="">All</option>
                    <option value="OFF">All Offense</option>
                    <option value="QB">Quarterback</option>
                    <option value="RB">Running Back</option>
                    <option value="WR">Wide Receiver</option>
                    <option value="TE">Tight End</option>
                    <option value="Flex">Flex (W/R/T)</option>
                    <option value="DEF">Team Defense</option>
                </select>  </th>
                        <th><input class='form-control' type='text' [(ngModel)]='teamFilter' placeholder='Team'/></th>
                        <th></th>
                        <th></th>
                        <th>
                            
                            <!--<button class='btn btn-success' (click)='onClickrefreshPlayerList()'>
                                Refresh
                            </button>-->
                            </th>
                    </tr>

</thead>
</table>
</div>
<div class='tableContainer' >

     <div class= 'panel-heading' *ngIf= 'loading && !errorMessage && (!players || players.length < 1)'>
                      <h1 style='text-align:center'>Retrieving Players...</h1>
                   </div>   
               <div class= 'panel-heading' *ngIf='errorMessage'>
                     <h1 style='text-align:center'> There was a problem retrieving Players.  Error Code: {{errorMessage}}</h1>
                   </div>  
               <!--<div class= 'panel-heading' *ngIf='(!players || players.length < 1) && !errorMessage && !loading'>
                      There is no data for the chosen dates
                   </div>-->  

<div class='scrollingTable' *ngIf='players && (players.length>0) && !loading'> 
    <table id='playersTable' resizeable mode="resizeMode" class='table table-hover table-condensed' >
                <thead>
    
                    <tr>
                        <th id="nameCol" ></th>
                        <th id="posCol" >Position</th>
                        <th id="teamCol" >Team</th>
                        <th id="ptsCol" >Week 1 Points</th>
                        <th id="ttlCol" >Season Points</th>
                        <th id="blkCol" ></th>
                    </tr>
                </thead> 
<tbody>
               <tr *ngFor="let player of offense | playerFilter:nameFilter:teamFilter:positionFilter">
                   <td id="nameCol" class="col-xs-2" style="text-align:center">{{player.name}}</td>
                    <td id="posCol" class="col-xs-1" style="text-align:center">{{player.position}}</td>
                    <td id="teamCol" class="col-xs-1" style="text-align:center">{{player.teamAbbr}}</td>   
                    <td id="ptsCol" class="col-xs-1" style="text-align:center">{{player.weekPts}}</td>
                    <td id="ttlCol" class="col-xs-1" style="text-align:center">{{player.seasonPts}}</td>
                    <td id="addCol" class="col-xs-1" style="text-align:center"><button class='btn btn-success' (click)="onClickAddPlayer(player)">Add</button></td>
                 </tr> 
               
</tbody>
               </table>
              
           </div> <!-- this is the table-responsive wrapper-->  
      </div> 
       
</div>


   <!--  </div> 
  </div>    End Left Panel -->
    
    <!--
    <div class='rightPanel'>
        <div class='panel panel-primary'>
            <div id='rowspace' class='row'></div>
        <nfl-squad></nfl-squad>
        </div> 
    </div> 
      <br style="clear:both;"/>-->


      
          <!--      <div align="right">
                <button id='retryBtn' class='btn btn-primary' (click)='showConfirmDialog("ReleaseRetry")'> Release Checked Retry Items</button>
                <button id='utilityBtn' class='btn btn-primary' (click)='showConfirmDialog("DataUtilities")' > Run Selected Data Utilities </button>
              <button id='closeBtn' class='btn btn-danger' (click)='onClickClose()' > Close </button> 
                </div
                
                >-->
                

  


<!--</div>-->

