

  <div class='week' > 
    <table id='weekFilterTable' class='tableNoBorders' >
                <thead id="topFilters">

                    <tr id="topRow">
                  <th><select class='form-control' name ="week" form = "weekForm" [(ngModel)]='weekFilter' placeholder="Week" (change)="onSelectWeek($event.target.value)" default = "5">
                    <option value="" disabled selected>{{currentWeek}}</option>
                    <option value="1">Week 1</option>
                    <option value="2">Week 2</option>
                    <option value="3">Week 3</option>
                    <option value="4">Week 4</option>
                    <option value="5">Week 5</option>
                    <option value="6">Week 6</option>
                    <option value="7">Week 7</option>
                    <option value="8">Week 8</option>
                    <option value="9">Week 9</option>
                    <option value="10">Week 10</option>
                    <option value="11">Week 11</option>
                    <option value="12">Week 12</option>
                    <option value="13">Week 13</option>
                    <option value="14">Week 14</option>
                    <option value="15">Week 15</option>
                    <option value="16">Week 16</option>
                    <option value="17">Week 17</option>
                </select>  </th>
                    </tr>

</thead>
</table>
</div>
<div class='tableContainer' >
    <table id='entryTable' resizeable mode="resizeMode" class='table table-striped table-condensed' >
                <thead>
                    <tr>
                        <th class="col-xs-1" >Position</th>
                        <th class="col-xs-1" >Name</th>
                        <th class="col-xs-1" >Team</th>
                        <th class="col-xs-1" >Points</th>
                    </tr>
                </thead>           
                <tbody>
                 <tr>
                   <td class="col-xs-1" style="text-align:center">QB</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.QB?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.QB?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.QB?.weekPts}}</td>
                 </tr>
                  <tr>
                   <td class="col-xs-1" style="text-align:center">RB</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.RB1?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.RB1?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.RB1?.weekPts}}</td>
                 </tr> 
                  <tr>
                   <td class="col-xs-1" style="text-align:center">RB</td>
                    <td class="col-xs-1" style="text-align:center">{{entry?.RB2?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.RB2?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.RB2?.weekPts}}</td>
                 </tr> 
                  <tr>
                   <td class="col-xs-1" style="text-align:center">WR</td>
                    <td class="col-xs-1" style="text-align:center">{{entry?.WR1?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR1?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR1?.weekPts}}</td>
                </tr> 
                  <tr>
                   <td class="col-xs-1" style="text-align:center">WR</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR2?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR2?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR2?.weekPts}}</td>
                 </tr> 
                  <tr>
                   <td class="col-xs-1" style="text-align:center">WR</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR3?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR3?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.WR3?.weekPts}}</td>
                 </tr> 
                  <tr>
                   <td class="col-xs-1" style="text-align:center">TE</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.TE?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.TE?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.TE?.weekPts}}</td>
                 </tr> 
                  <tr>
                   <td class="col-xs-1" style="text-align:center">Flex</td>
                <td class="col-xs-1" style="text-align:center">{{entry?.FLX?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.FLX?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.FLX?.weekPts}}</td>
                </tr> 
                  <tr>
                   <td class="col-xs-1" style="text-align:center">DEF</td>
                    <td class="col-xs-1" style="text-align:center">{{entry?.DEF?.name}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.DEF?.teamAbbr}}</td>
                   <td class="col-xs-1" style="text-align:center">{{entry?.DEF?.weekPts}}</td>
                </tr> 
                <tr>
                  <td></td><td></td><td class='totalPoints'>Total Points:</td><td class='totalPointsNum'> {{totalPoints}}</td>
                </tr>
                </tbody>
               </table>
            </div>  <!--this is the table-responsive wrapper-->  

            
          <!-- <div align="right">
               <div class='col-xs-2' align='right'>
                <button id='submitTeamBtn' class='btn btn-primary' (click)='alert("Nice Team, asshole")'> Submit Team</button>
                </div>
            </div> -->


