<div class='fullScreen'>
<div class='notPanel'>
    <div class='alsoNotPanel'>

          <ul class="tabrow">
                <!-- <li><button class = "tabBtn" id="HomeBtn" type="button" (click)="updateView('Home')">Home</button></li>
                <li><button class = "tabBtn" id="CreateBtn" type="button" (click)="updateView('Create')">Create Team</button></li>
                  <li><button class = "tabBtn" id="ResultsBtn" type="button" (click)="updateView('Results')">Results</button></li>
                  <li><button class = "tabBtn" id="LeaderboardBtn" type="button" (click)="updateView('Leaderboard')">Leaderboard</button></li>
                 -->
                
                <li [ngClass]="highlightHome" (click)="updateHome()" >Home</li>
                <li [ngClass]="highlightCreate" (click)="updateCreate()" >Create Team</li>
                  <li [ngClass]="highlightResults"  (click)="updateResults()">Results</li>
                  <li [ngClass]="highlightLeader"  (click)="updateLeaderboard()">Leaderboard</li>
                  
          </ul>
    </div>
     
</div>
 
 <div class='mainDiv' *ngIf="viewController == 'Create'">
 <div class='leftPanel'>
         <player-app></player-app>
 </div>

  <div class='rightPanel'>
            <!--<div id='rowspace' class='row'></div>-->
              <div class='weekPanel'>
            WEEK {{currentWeek}}
                </div>  
        <nfl-squad></nfl-squad>
        </div> 
      <br style="clear:both;"/>
</div> 

 <div class='mainDiv' *ngIf="viewController == 'Results'">
 
 <div class='middlePanel' align='center'>

         <nfl-entry></nfl-entry>

 </div>

 
</div> 

 </div>